.player-music {
    background-color: #0F172A !important;
    height: 6rem;
}
.rhap_time, .rhap_current-time {
    color: white !important;
}
.pr-16 {
  padding-right: 80%;
}
.img-anh{
  background-image: url(https://e0.pxfuel.com/wallpapers/135/99/desktop-wallpaper-music-karaoke-am-nh%E1%BA%A1c-am-thanh-music-banner.jpg);
}
.logo {
  animation: spin infinite 10s linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

::selection {
    background-color: transparent;
    color: turquoise;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }